In [9]:
import nltk
import pandas as pd
from nltk.tokenize import word_tokenize, sent_tokenize

In [12]:
data = pd.read_csv("NHANES test/Imputed Dataset-Test.csv")
print(data)
a = data.columns
print(a)

      Unnamed: 0      SEQN  RIAGENDR  RIDAGEYR  RIDRETH1  RIDRETH3  RIDEXMON  \
0              1   93703.0         2         2         5         6         2
1              2   93704.0         1         2         3         3         1
2              3   93705.0         2        66         4         4         2
3              4   93706.0         1        18         5         6         2
4              5   93707.0         1        13         5         7         2
...          ...       ...       ...       ...       ...       ...       ...
9249        9250  102952.0         2        70         5         6         2
9250        9251  102953.0         1        42         1         1         2
9251        9252  102954.0         2        41         4         4         1
9252        9253  102955.0         2        14         4         4         2
9253        9254  102956.0         1        38         3         3         2

      RIDEXAGM  DMQMILIZ  DMQADFC  ...  DMDHRMAZ  DMDHSEDZ      WTINT2YR  \
0           27         2        2  ...         1         3   9246.491865
1           33         2        1  ...         1         2  37338.768343
2          235         2        2  ...         2         1   8614.571172
3          222         2        2  ...         1         2   8548.632619
4          158         2        1  ...         1         3   6769.344567
...        ...       ...      ...  ...       ...       ...           ...
9249       221         2        2  ...         1         1  16896.276203
9250       237         2        2  ...         2         2  61630.380013
9251       236         2        2  ...         2         2  17160.895269
9252       175         2        1  ...         1         2  14238.445922
9253       237         2        1  ...         2         3  38645.740291

          WTMEC2YR  SDMVPSU  SDMVSTRA  INDHHIN2  INDFMIN2  INDFMPIR  CBQ596
0      8539.731348        2       145        15        15      5.00       1
1     42566.614750        1       143        15        15      5.00       2
2      8338.419786        2       145         3         3      0.82       2
3      8723.439814        2       134        14        15      2.71       2
4      7064.609730        1       138        10        10      1.88       1
...            ...      ...       ...       ...       ...       ...     ...
9249  18338.711104        2       138         4         4      0.95       2
9250  63661.951573        2       137        12        12      5.00       2
9251  17694.783346        1       144        10        10      1.18       2
9252  14871.839636        1       136         9         9      2.24       1
9253  39426.299948        1       142         7         7      1.56       1

[9254 rows x 45 columns]
Index(['Unnamed: 0', 'SEQN', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH1', 'RIDRETH3',
       'RIDEXMON', 'RIDEXAGM', 'DMQMILIZ', 'DMQADFC', 'DMDBORN4', 'DMDCITZN',
       'DMDYRSUS', 'DMDEDUC3', 'DMDEDUC2', 'DMDMARTL', 'RIDEXPRG', 'SIALANG',
       'SIAPROXY', 'SIAINTRP', 'FIALANG', 'FIAPROXY', 'FIAINTRP', 'MIALANG',
       'MIAPROXY', 'MIAINTRP', 'AIALANGA', 'DMDHHSIZ', 'DMDFMSIZ', 'DMDHHSZA',
       'DMDHHSZB', 'DMDHHSZE', 'DMDHRGND', 'DMDHRAGZ', 'DMDHREDZ', 'DMDHRMAZ',
       'DMDHSEDZ', 'WTINT2YR', 'WTMEC2YR', 'SDMVPSU', 'SDMVSTRA', 'INDHHIN2',
       'INDFMIN2', 'INDFMPIR', 'CBQ596'],
      dtype='object')

In [7]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [8]:
x = "Love Words"
print(word_tokenize(x))

['Love', 'Words']